/*CSS Reset / Normalize*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    
    
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.tudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

header{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
section.menu{
    display: flex;
    align-items: center;
    
}
.menu__header{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.menu__header-img{
    height: 22px;
}

.menu__list{
    display: none;
}

.menu__list li a{
    color: #464646;
}

/*Sección Title*/

.title__div{
    padding: 0 30px;
    display: flex;
    align-items:start;
    flex-direction: column;
    gap: 20px;
}

.title__container{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.title__profile{
    display: flex;
    width: 50%;
    height: 50%;
    padding: 0 30px;
}
.title__container h2{
    font-weight: bold;
    font-size: 22px;
    color: #267D39;
}

.title__container h3{
    font-size: 16px;
}
.title__network{
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #329542;
    font-weight: bold;
}
/*Sección About*/

.about__container{
    padding: 20px 60px;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.about__container img{
    display: flex;
    align-items: baseline;
    height: 20%;
    width: 20%;
}
.about__title{
    font-weight: bold;
    font-size: 22px;
    color: #267D39;

}

/* Sección Skills */

.skills{
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills__line{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    
}
.skills__line ul{
    background: #F7FEEF;
    display: flex;
    width: 150px;
    height: 90px;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.skills__title{
    padding: 0 30px;
    color: #329542;
    font-weight: bold;
    

}
/*Sección Hobbies*/
.hobbies{
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}
    
.hobbies__title{
    padding: 0 30px;
    color: #329542;
    font-weight: bold;
}

.hobbies__line{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hobbies__line ul{
    background: #F7FEEF;
    display: flex;
    width: 150px;
    height: 90px;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}

/* Experiencia Académica*/

.academic{
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#F7FEEF ;
    gap: 20px;

}
.academic__title{
    color: #329542;
    font-weight: bold;
    height: 100%;
}

.academic__courses{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.academic__courses li{
    background: #ffff;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

/* experiencia*/

section.experience{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;


}
.experience__section__title{
    color: #329542;
    font-weight: bold;
    height: 100%;

}
.experience__info{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    color: #329542;
    font-style: italic;
}
section.experience .experience__img {
    width: 100%
  }
  .experience__info-container{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    color: #329542;
    font-style: italic;
  }
  .experiencia__boton{
    display: flex;
    background-color: #9bf03a;
    border:none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 96px;
    height: 40px;
    justify-content: center;
    flex-direction: column;
  }
  .experiencia__boton:hover{
    background-color: #329542;
  }
  .experiencia__boton:active{
    background-color:#9bf03a;
  }
/*Contacto*/

.formcontato__text{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: left;
    flex-direction: column;
    
    background-color: #F7FEEF;
}
.formcontato__title{
    padding: 30px 0;
    font-weight: bold;
    font-size: 20px;
    color: #329542;
}
.formcontato__form{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    

}
.formcontato__input{
    outline: none;
    border: 0;
    width: 296px;
    height: 56px;
    font-size: 16px;
    
}
.formcontato__input :focus{
    color: #329542;
    border-bottom-color: #329542;

}
.formcontato__textarea{
    outline: none;
    border: 0;
    width: 296px;
    height: 56px;
    font-size: 16px;
    font-family: raleway;

}
.formcontato__botao{
    background-color: #329542;
    width: 133px;
    height: 40px;
    font-size: 14px;
    font-family: raleway;
    border: 0;
    outline: none;
    color: white;
    border-radius: 4px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;


}


/*footeer*/

section.footer{
    text-align: center;
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

@media (min-width: 300px){
    .formcontato__img{
        display: none;
    }
}
/*Tablet*/
@media (min-width: 768px) {
    .formcontato__img{
        display: none;
    }

}

/*Desktop*/
@media (min-width: 1024px) {

/*Menu*/

.menu__header{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    font-size: 16px;
}

.menu__list{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 20px;
}

.menu__list__item__contato{
    display: none;
}
/*Titulo*/
.title__div{
    
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;

    }
.title__container h2{
    font-size: 52px;
}

.title__container h3{
    font-size: 22px;

}

.title__network{
    font-size: 16px;
}

/*Sección sobre mi*/
.about__container{
    background-color: #D9EEDB;
}
/*Skills*/
.skills__title{
    font-size: 32px;
}

/*Hobbies*/
.hobbies__title{
    font-size: 32px;
}
 
/*Formación Académica*/
.academic__title{
    font-size:32px ;
}


}
}